.banner-container{
    width: 100%;
    margin: auto;
    padding: 30px;
}
.banner{
    margin: auto;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(linen, rgb(248, 218, 206));
    align-items: center;
    box-shadow: 4px 4px 8px gainsboro;
    border-radius: 10px;
    box-sizing: border-box;
}
.banner-context{
    /* margin-left: 20px; */
    width: 370px;
    text-align: start;
}
.banner-img img{
    width: 400px;
    margin-top: -50px;
    height: auto;
}
.services-container, #review-container{
    width: 70%;
    margin: auto;
}
.service-text{
    margin-top: 20px;
}
.service-text h3{
    color: rgb(246, 116, 64);
}
.doc-card{
    width: 350px;
    height: 100%;
    box-shadow: 4px 4px 8px gainsboro;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
}
.doc-card img{
    width: 100px;
    height: 100px;
    border-radius: 99px;
}
.no-data, .spinner{
    display: none;
}
.review-card{
    width: 250px;
    height: 100%;
    box-shadow: 4px 4px 8px gainsboro;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}
.review-card img{
    width: 60px;
    height: 60px;
    border-radius: 50px;
}
.f-icons{
    font-size: 24px;
}
footer{
    background: linear-gradient(rgb(248, 218, 206), rgb(253, 222, 192));
    padding: 25px;
    bottom: 0;
}
footer ul li{
    list-style: none;
}
@media only screen and (max-width: 600px) {
    .banner {
        flex-direction: column;
        text-align: center;
        padding-top: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .banner-context{
        width: 100%;
    }
    .banner-img img {
        width: 100%;
        margin-top: 0;
    }
}